// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.navbar-wrapper { width: 980px; margin: 0px auto }
.content-wrapper { width: 980px; margin: 30px auto; padding: 0px 20px; top: 60px }
.left { float: left }
.right { float: right }
.clear { clear: both }

.post .post-header { margin: 15px 0px; padding: 10px 0px }
.post .post-body { background-color: #f5f5f5; padding: 10px }
.post .post-date { padding-top: 5px; position: relative; display: block }
.post .actions { margin-top: 15px }

.nav li a { padding: 5px }
h3 { margin: 0px }
form { margin-top: 25px }
a { cursor: pointer }
